.header-bg {
    background-color: #264653;
}

.button-color {
    background-color: #E76F51;
}

.text-orange {
    color: #E76F51;
}

.img-width {
    width: 5%
}

.link-styles {
    text-decoration: none;
    color: white;
}